<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dong.sms.dao.UserDAO">

	<!-- userId 기준으로 사용자 조회 -->
    <select id="findUserById" parameterType="string" resultType="kr.co.dong.sms.dto.UserDTO"> 
        SELECT id AS userId, phone, notification 
        FROM users 
        WHERE id = #{id} 
    </select>
	
</mapper>